- return if Gitlab.org_or_com?

- visible_duo_chat = admin_display_ai_powered_toggle?

- return if !visible_duo_chat

- expanded = false

%section.settings.no-animate#js-ai-powered-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
      = s_('AIPoweredSM|AI-powered features')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded ? _('Collapse') : _('Expand')
    %p.gl-text-secondary
      = ai_powered_description

  .settings-content
    = gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-ai-powered-settings'), html: { class: 'fieldset-form', id: 'ai-powered-settings' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          = f.gitlab_ui_checkbox_component :duo_features_enabled,
            s_('AIPoweredSM|Enable GitLab Duo features')
          = f.gitlab_ui_checkbox_component :lock_duo_features_enabled,
            s_('AIPoweredSM|Enforce Duo features setting for all subgroups')
          = f.gitlab_ui_checkbox_component :instance_level_ai_beta_features_enabled,
            s_('AIPoweredSM|Enable experiment and beta AI-powered features'),
            help_text: ai_powered_testing_agreement

      = f.submit _('Save changes'), pajamas_button: true
